@import "bourbon/app/assets/stylesheets/bourbon";
@import "bourbon-neat/app/assets/stylesheets/neat";
@import "normalize.css/normalize";

$black: #020202;

html {
  font: normal normal 16px/1.2 Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;  
}

body { 
  margin: 0;
  padding: 0;
}

header {
  background: $black;
  color: #fff;
}

main {
  @include outer-container();
}
